<p>thank you for booking your trip width meadowlark travel,{{cart.billing.name}}!</p>
<p>your reservation number is {{cart.number}},and an email has been sent to {{cart.billing.email}} for your records.</p>
